@media screen and (max-width: 570px) {
  body {
    background-color: pink;
  }
  .display {
    display: flex;
    flex-direction: column;
  }
  .plate {
    width: 100%;
    display: block;
  }
  .plate1 {
    margin-top: 50px;
  }
}
